DATABASE_URL=mysql://root:@localhost:3306/pesantren
JWT_SECRET=pesantren_jwt_secret_key_2026
JWT_REFRESH_SECRET=pesantren_refresh_secret_key_2026
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
PORT=4000
